@charset "utf-8";
/* CSS Document */


/**屏幕宽度大于1200px适配电脑*/
@media only screen and (min-width: 1201px){ 
#firstpage
{
	width:100%;
	height:800px;
	background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		overflow:hidden;
}
#hiddentitle
{
    top:260px;
	left:37%;
	position:absolute;
	opacity:0.6;
	z-index:999;	
}
#butterfly
{
	margin-left:3%;
	margin-top:6%;
}
#klam1
{	
    position: absolute;
    top: 250px;
    left: 38%; 
    color: rgb(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:90px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	width:auto;
}
#klam2
{
	position: absolute;
    top: 370px;
    left: 45%; 
    color: rgb(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:70px;
	font-weight:10;
	font-family:Georgia, "Times New Roman", Times, serif;
	width:auto;
}

.noor {
    position: absolute;
    top: 240px;
	left: -320px;
    width: 200px;
    height: 200px; 
    opacity: 0.8;
    border-radius: 200px;
    z-index: 0;
    background: 
      -webkit-radial-gradient(center, ellipse cover, #fff 0%, rgba(255, 255, 255, 0.2) 100%); 
     box-shadow: 0px 0px 50px #fff;
    animation: noor 5.0s ease-in-out 1;
}

.two {z-index: 2;opacity: 0.8;}

@-webkit-keyframes noor 
{
    0% {left: 35%;}
    30% {left: 55%;}
    60%{left: 80%;}
    100% {left: 35%;}
}

@-webkit-keyframes shadow {
  0% {text-shadow: -9px 1px 4px #000;}
  50% {text-shadow: 9px 1px 4px #000; }
  100% {text-shadow: -9px 1px 4px #000;} 

}
#abstract h1
{
	
	margin-left:40%;
    margin-top:30px;
	font-size:30px;
	letter-spacing:7px;
	color:black;
}


#abstract_text
{
	width:70%;
	margin-left:15%;
}
#abstract_text h2
{
	margin-bottom:5%;
	font-size:20px;
	font-weight:300;
	word-spacing:6px;
	line-height:30px;
	color:black;
}

#secondpage
{
	width:100%;
	height:500px;
    overflow:hidden;
}
#thirdpage
{
	width:100%;
	height:750px;
	background-color:#d53f42;
	overflow:hidden;
}



/*mune-------------------------------------------------------------------------------------*/
.menu_pic
{
	display:inline-block;
	width:15%;
	margin-left:3.6%;
	margin-right:6%;
	height:10%;
}

#menu_box
{
	width:100%;
	height:8%;
    background-color:#d53f42;
}
#menu_box a
{
	text-decoration:none;
	color:white;
}
#menu_box a:hover
{
	color:black;
}
.menu ul
{
	list-style:none;
	margin:0;
	
}
.menu li
{
	display:inline;	
	font-size:35px;
	font-weight:300;
	font-family:Monoton-Regular;
	text-align:right;
	cursor:pointer;
	margin-right:8%;
	margin-left:3.5%;
	

}
.menu 
{
	left:20px;
	width:100%;
}
.fixed
{
    position:fixed;
    top:0px;
    margin-top:0%;
}



/*main_body-------------------------------------------------------------------------------------*/

#box
{
	width:100%;
	height:9000px;
	z-index:1;
}
#box h1
{
	font-size:40px;
	margin-top:0px;
	margin-left:50px;
	margin-bottom:20px;
}
#box h2
{
	font-size:30px;
	margin-left:50px;
	margin-top:30px;
}
#box h1
{
	margin-left:33%;
	font-weight:600;
	letter-spacing:5px;
}
#box h2
{
	margin-left:40%;
	font-family:playball;
	letter-spacing:2px;
	font-weight:400;
}
#box h3
{
	width:60%;
	margin-left:30%;
	font-weight:300;
	line-height:20px;
	word-spacing:5px;
}
#project
{
		background:rgba(0,0,0,0.8);
		color:white;
}
#project_box
{
	width:100%;
	height:3500px;
}
#design
{
	background: #a73737;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	color:white;
	
}
#design_box
{
	width:100%;
	height:3000px;
}
#d3 img
{
	margin-left:40%;
	width:40%;
	height:300px;
}
#d4 img
{
	margin-left:40%;
	width:40%;
	height:300px;
}
#experiment
{
	background:rgba(0,0,0,0.8);
	color:white;
}

/*navigation---------------------------------------------------------------------------------*/
.nav_decoration
{
	width:100%;
	height:10%;
}
.nav_decoration a
{
	margin-left:2%;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
	
}
.nav_decoration img
{
	margin-left:2%;
	width:18%;
	height:100%;
	display:inline-block;
	vertical-align:middle;
}
.nav_p_deco
{
		background: #a73737;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		
}
.nav_p_deco a
{
	color:white;	
}
.nav_d_deco a
{
	color:white;
}
.nav_e_deco a
{
	color:white;
}
.nav_d_deco
{
	background-color:rgba(0,0,0,0.8);
}
.nav_e_deco
{
		background: #a73737;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.nav_body
{
	width:100%;
	height:80%;
}
#nav_p
{
	float:left;
	margin-top:12%;
	margin-left:4%;
	width:15%;
	height:400px;
	background-color:white;
	display:inline;
	z-index:1;
}
#nav_d
{
	float:left;
	margin-top:12%;
	margin-left:4%;
	width:16%;
	height:400px;
	background-color:#f6f6f6;
	display:inline;
	z-index:2;
}
#nav_e
{
	float:left;
	margin-top:12%;
	margin-left:4%;
	width:15%;
	height:400px;
	background-color:white;
	display:inline;
	z-index:1;
}
.nav_fixed
{
	position:fixed;
	top:8%;
	
}

/*bottom-------------------------------------------------------------------------------------*/
}
































